<% if params[:building].nil? %>
    <p xmlns:>Please select a building above</p>
<% elsif params[:room].nil? %>
    <p>Please select a room above</p>
<% else %>

  <table border="1">
    <tr>
      <th>Time</th>
      <% @days.each do |day| %>
        <th><%= day %></th>
      <% end %>
    </tr>
    <% ampm = 'AM' %>
    <% [8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8].each do |hour| %>
      <% ampm = 'PM' if hour == 12 %>
      <tr>
        <td><%= hour %>:00</td>
        <% @days.each do |day| %>
          <td>
						<% i=0 %>
            <% @classes.select{|c| c[:start].starts_with? "#{hour.to_s}:"}.select{|c| c[:start].ends_with? ampm}.select{|c| c[:days].include? day}.each do |item| %>
								<div onClick="javascript:alert('<%= "#{item[:name]}\\n#{item[:start]} - #{item[:end]}\\n#{item[:instructor]}" %>');" class="class_event" style="<%= item[:style] %>"><%= i %><%= "#{item[:code]}" %><br><%= item[:instructor] %></div>
							<% i=i+1 %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

<% end %>
