// Place all the styles related to the home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
  height: 100%;
}
table {
  width: 100%;
  height: 90%;
}
body > table > tbody > tr > td:nth-child(1) {
  width: 3%;
}
body > table > tbody > tr > th {
  height: 1%;
}
td {
  width: 19%;
  height: 6%;
  vertical-align: top;
}
div.class_event {
  background-color: lightgrey;
  position: absolute;
  overflow: hidden;
  border: 1px solid black;
  width: 17%;
  white-space: nowrap;
}
