<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Rooms', root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Semester <%= "(#{params[:semester]})" unless params[:semester].nil? %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% @semesters.each do |s| %>
              <li><%=  link_to s, semester_path(s) %></li>
            <% end %>
          </ul>
        </li>
        <% unless @buildings.empty? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Building <%= "(#{params[:building]})" unless params[:building].nil? %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% @buildings.each do |building| %>
              <% if building[:name].empty? %>
                <% link_name = "#{building[:code]}" %>
              <% else %>
                <% link_name = "#{building[:name]} (#{building[:code]})" %>
              <% end %>
              <li><%= link_to link_name, building_path(semester: params[:semester], building: building[:code]) unless building.nil? %></li>
            <% end %>
          </ul>
        </li>
        <% end %>
				<% unless @rooms.empty? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Room <%= "(#{params[:room]})" unless params[:room].nil? %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% @rooms.each do |room| %>
              <li><%= link_to room, room_path(semester: params[:semester], building: params[:building], room: room) %></li>
            <% end %>
          </ul>
        </li>
				<% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="btn-danger"><%= link_to 'Force Refresh', parse_path(params[:semester]), style: 'color: white;' unless params[:semester].nil? %></li>
        <!--
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

