<!DOCTYPE html>
<html>
<head>
  <title>Rooms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<meta id="viewport" name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1; user-scalable=0;" />
</head>
<body>

<%= render 'layouts/nav' %>

<%= yield %>

</body>
</html>
